@charset "UTF-8";

body {
	background-color: lightgray;
	display: flex;
	justify-content: center;
}

.frame {
	width: 1100px;
	min-height: 600px;
	background-color: white;
	padding-bottom: 30px;
}

header {
	height: 100px;
	font-weight: 1000;
	font-size: 40px;
	padding-top: 30px;
	text-align: center;
}

section {
	width: 600px;
	margin: 0 auto;
}

.font {
	font-size: 20px;
}

.what-text {
	height: 30px;
	width: 100%;
	font-size: 22px;
	padding: 5px;
	margin: 10px 0 40px 3px;
}

.who-text {
	height: 30px;
	width: 50%;
	font-size: 22px;
	padding: 5px;
	margin: 10px 0 40px 3px;
}

.priority-radio {
	margin: 10px 0;
	height: 20px;
	width: 20px;
	vertical-align: sub;
}

.priority .radio{
	font-size: 17px;
}

.button-container {
	position: relative;
	top: 70px;
	display: flex;
	justify-content: space-between;
}

.button-container button {
	height: 40px;
	width: 120px;
	font-weight: 600;
	padding: 0;
}

.button-container button:hover {
	cursor: pointer;
}

.button-container .before {
	display: block;
	background-color: white;
	font-size: 20px;
	text-decoration: underline;
}

.button-container .update {
	background-color: #65C6DC;
	color: white;
	font-size: 17px;
	outline: none;
	border: none;
	margin-left: 10px;
}